@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700,700i");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  line-height: 1; }

.hero {
  position: relative;
  height: 100vh;
  width: 100vw; }
  .hero-body {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .hero .hero-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

canvas {
  display: block; }

#three-canvas {
  position: absolute; }

.container {
  max-width: 1080px;
  width: 100%;
  margin: auto; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  max-width: 100%;
  padding: 10px 20px; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.67%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.67%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.f-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.f-col-1 {
  flex: 1; }

.f-col-2 {
  flex: 2; }

.f-col-3 {
  flex: 3; }

.f-col-4 {
  flex: 4; }

[class*='flex-center'], [class*='flex-end'] {
  display: flex; }

.flex-center {
  justify-content: center;
  align-items: center; }

.flex-center-h {
  justify-content: center; }

.flex-center-v {
  align-items: center; }

.flex-end-v {
  align-items: flex-end; }

.flex-end-h {
  justify-content: flex-end; }

@media screen and (max-width: 760px) {
  [class*='f-col-'] {
    flex: 50%; } }
@media screen and (max-width: 500px) {
  [class*='f-col-'] {
    flex: 100%; } }

@media screen and (max-width: 500px) {
  [class*='col-'] {
    width: 100%; } }

button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  height: 50px;
  font-weight: 500;
  padding: 15px 40px;
  transition: background ease-in-out 200ms, border ease-in-out 200ms; }
  button:hover, button:focus {
    cursor: pointer;
    outline: none; }

.btn-light {
  color: #191919;
  background: #F4F4F4;
  border: 2px solid #F4F4F4; }
  .btn-light:hover {
    background: #191919;
    border-color: #191919;
    color: #F4F4F4; }

.btn-dark {
  color: #F4F4F4;
  background: #191919;
  border: 2px solid #191919; }
  .btn-dark:hover {
    background: #F4F4F4;
    border-color: #F4F4F4;
    color: #191919; }

.btn-pop {
  color: #F4F4F4;
  background: #CE4257;
  border: 2px solid #CE4257; }
  .btn-pop:hover {
    background: #F4F4F4;
    border-color: #F4F4F4;
    color: #191919; }

[class*="btn-ghost"] {
  background: none; }

.btn-ghost-light {
  border: 2px solid #F4F4F4;
  color: #F4F4F4; }
  .btn-ghost-light:hover {
    background: #F4F4F4;
    color: #191919; }

.btn-ghost-dark {
  border: 2px solid #191919;
  color: #191919; }
  .btn-ghost-dark:hover {
    background: #191919;
    color: #F4F4F4; }

.btn-ghost-pop {
  border: 2px solid #CE4257;
  color: #CE4257; }
  .btn-ghost-pop:hover {
    border: 2px solid #F4F4F4;
    background: #F4F4F4;
    color: #191919; }

form {
  max-width: 600px;
  margin: auto;
  background-size: cover;
  padding: 40px; }

[class*="form-header"] {
  font-size: 3rem;
  padding: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-bottom: 3rem; }

.form-header-dark {
  color: #191919;
  border-bottom: 2px solid #191919; }

.form-header-light {
  color: #F4F4F4;
  border-bottom: 2px solid #F4F4F4; }

input, textarea, select {
  display: block;
  margin: 40px 0;
  max-width: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif; }
  input:focus, textarea:focus, select:focus {
    outline: none; }

input {
  height: 3rem;
  padding-left: 20px;
  background: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9B9B9B; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9B9B9B; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #9B9B9B; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #9B9B9B; }

.input-light {
  border: 3px solid #F4F4F4;
  background: #F4F4F4;
  color: #191919; }

.input-dark {
  border: 3px solid #191919;
  background: #191919;
  color: #F4F4F4; }

.input-pop {
  border: 3px solid #CE4257;
  background: #CE4257;
  color: #F4F4F4; }

select {
  height: 3em;
  -webkit-appearance: none;
  padding-left: 20px;
  border-radius: 0px;
  outline: none;
  background: url("data:image/svg+xml;utf8,<svg width='17px'    height='9px' viewBox='456 21 17 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>\a   <polygon id='Path-2' stroke='none' fill='#F4F4F4' fill-rule='evenodd' points='456 21 473 21 464.5 29.1301693'></polygon>\a   </svg>");
  background-position: 96% 50%;
  background-color: white;
  background-repeat: no-repeat;
  border: white; }

.select-light {
  border: #F4F4F4;
  background: url("data:image/svg+xml;utf8,<svg width='17px'    height='9px' viewBox='456 21 17 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>\a   <polygon id='Path-2' stroke='none' fill='#191919' fill-rule='evenodd' points='456 21 473 21 464.5 29.1301693'></polygon>\a   </svg>");
  background-position: 96% 50%;
  background-color: #F4F4F4;
  background-repeat: no-repeat; }

.select-dark {
  border: #191919;
  background-color: #191919;
  color: #F4F4F4; }

.select-pop {
  border: #CE4257;
  background-color: #CE4257;
  color: #F4F4F4; }

textarea {
  border: none;
  max-height: 400px;
  padding: 20px 0 0 20px; }

.textarea-light {
  border: 3px solid #F4F4F4;
  background: #F4F4F4;
  color: #191919; }

.textarea-dark {
  border: 3px solid #191919;
  background: #191919;
  color: #F4F4F4; }

.textarea-pop {
  border: 3px solid #CE4257;
  background: #CE4257;
  color: #F4F4F4; }

.checkbox-light {
  margin: 20px 0;
  color: #F4F4F4; }

.checkbox-dark {
  margin: 20px 0;
  color: #191919; }

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 2.5rem;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 4px;
  cursor: pointer; }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem; }

.checkbox-light [type="checkbox"]:not(:checked) + label:before,
.checkbox-light [type="checkbox"]:checked + label:before {
  border: 3px solid #F4F4F4; }

.checkbox-dark [type="checkbox"]:not(:checked) + label:before,
.checkbox-dark [type="checkbox"]:checked + label:before {
  border: 3px solid #191919; }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1.3rem;
  height: 1.3rem;
  transition: width ease-in 200ms; }

.checkbox-light [type="checkbox"]:not(:checked) + label:after,
.checkbox-light [type="checkbox"]:checked + label:after {
  background: #F4F4F4; }

.checkbox-dark [type="checkbox"]:not(:checked) + label:after,
.checkbox-dark [type="checkbox"]:checked + label:after {
  background: #191919; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  width: 0;
  height: 0; }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  border-color: #9B9B9B;
  background-color: #9B9B9B; }

[type="checkbox"]:disabled:checked + label:after {
  color: #9B9B9B; }

[type="checkbox"]:disabled + label {
  color: #9B9B9B; }

.bg-dark {
  background: #191919; }

.bg-light {
  background: #F4F4F4; }

.bg-pop {
  background: #CE4257; }

.bg-t-light {
  background: rgba(244, 244, 244, 0.7); }

.bg-t-dark {
  background: rgba(25, 25, 25, 0.7); }

.bg-t-pop {
  background: rgba(206, 66, 87, 0.7); }

.text-dark {
  color: #191919; }

.text-light {
  color: #F4F4F4; }

.text-pop {
  color: #CE4257; }

/*# sourceMappingURL=styles.css.map */
