h1, h2, h3, h4, h5, blockquote {
  font-family: $header-font;
}
h1 {
    font-size: 36px;
    line-height: 40px;
    margin-top: 20px;
    padding: 10px 0;
}

h2 {
    font-size: 30px;
    line-height: 36px;
    padding: 10px 0;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    padding: 10px 0;
}

h4 {
    font-size: 18px;
    line-height: 22px;
    padding: 5px 0;
}

h5 {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 0;
}

h6 {
  @extend %body-font;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: $dark-grey;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
p {
  @extend %body-font;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
small {
  @extend %body-font;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $md-grey;
    cursor: pointer;
  }
}
blockquote {
  font-size: 24px;
  font-style: italic;
  font-weight: lighter;
  max-width: 500px;
  border-left: 2px solid $dark;
  padding-left: 30px;
  line-height: 34px;
  margin-bottom: 20px;
  cite {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
}
ul {
  font-family: $body-font;
  font-weight: lighter;
  list-style-position: inside;
}
