@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700,700i|Lato');
//fonts
$header-font: 'Josefin Sans', sans-serif;
$body-font: 'Lato', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}
p {
  font-family: $body-font;
  font-size: 1rem;
}
