form {
  max-width: 600px;
  margin: auto;
  background-size: cover;
  padding: 40px;
}
[class*="form-header"] {
  font-size: 3rem;
  padding: 2rem;
  font-family: $header-font;
  text-align: center;
  margin-bottom: 3rem;
}
.form-header-dark {
  color: $dark;
  border-bottom: 2px solid $dark;
}
.form-header-light {
  color: $light;
  border-bottom: 2px solid $light;
}
// Input Styling
input {
  display: block;
  margin: 40px 0;
  height: 3rem;
  max-width: 100%;
  width: 100%;
  font-size: 1rem;
  padding-left: 20px;
  background: none;
  font-family: $header-font;
  &:focus {
    outline: none;
    font-style: normal;
  }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $md-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $md-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $md-grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $md-grey;
}
.input-light {
  border: 3px solid $light;
  background: $light;
  color: $dark;
}
.input-dark {
  border: 3px solid $dark;
  background: $dark;
  color: $light;
}
.input-pop {
  border: 3px solid $color-pop;
  background: $color-pop;
  color: $light;
}

// Select Styling
select {
  display: block;
}

// Textarea Styling
textarea {
  font-family: $header-font;
  display: block;
  margin: 40px 0;
  max-width: 100%;
  max-height: 400px;
  width: 100%;
  font-size: 1rem;
  padding: 20px 0 0 20px;
  &:focus, &:active {
    outline: none;
  }
}
