// These following two rules apply to both basic and flex grids
.container {
  max-width: 1080px;
  width: 100%;
  margin: auto;
}
// base column styling
[class*='col-'] {
  float: left;
  min-height: 1px;
  max-width: 100%;
  padding: 10px 20px;
}


// =========== Basic Grid Rules for 12-column grid ========= //
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.67%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.67%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

// =============== Rules for Flex Grid ===============  //

//Implement f-row to create grid with flexbox
.f-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

//individual column percentages
.f-col-1 {
  flex: 1;
}
.f-col-2 {
  flex: 2;
}
.f-col-3 {
  flex: 3;
}
.f-col-4 {
  flex: 4;
}

// flex classes to add to flex columns
[class*='flex-center'], [class*='flex-end'] {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-center-h {
  align-items: center;
  justify-content: flex-start;
}
.flex-center-v {
  justify-content: center;
  align-items: flex-start;
}
.flex-end-v {
  justify-content: flex-end;
  align-items: flex-start;
}
.flex-end-h {
  align-items: flex-end;
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}

[class*='f-col-'] {
  flex-direction: column;
  @media screen and #{$tablet} {
    flex: 50%;
  }
  @media screen and #{$mobile} {
    flex: 100%;
  }
}
[class*='col-'] {
  @media screen and #{$mobile} {
    width: 100%;
  }
}
