.hero {
  position: relative;
  font-family: $header-font;
  height: 100vh;
  min-height: 500px; //change the minimum height for hero
  &-content {
    max-width: 1080px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header {
    width: 70%;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    transition: width ease-in 200ms;
    img {
      max-width: 100%;
    }
    @media screen and #{$tablet} {
      width: 100%;
    }
  }
  &-body {
    margin: auto;
    position: relative;
    padding: 10px 0;
    width: 70%;
    transition: width ease-in 200ms;
    @media screen and #{$mobile} {
      width: 100%;
      padding: 10px;
    }
  }
  &-image {
    display: block;
    width: 100%;
    height: 100vh;
    min-height:500px;
    object-fit: cover;
    @media screen and #{$mobile-landscape} {
        height: 170vh; //customize this height to control how large hero should be in landscape mode on mobile devices
      }
  }
}

//=============Hero Slideshows==============//

.hero-slideshow {
  position: relative;
  height: 100vh;
  min-height: 500px; //change the minimum height for slideshow section
  .images {
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      display: block;
      object-fit: cover;
      min-height: 500px; //change the minimum height for images
      transition: opacity ease-in-out 1s;
      opacity: 0;
    }
    .active {
      opacity: 1;
    }
  }
  .hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.left-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  background: url('data:image/svg+xml;utf8,<svg width="40px" height="40px" viewBox="4 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="Path-2" stroke="none" fill="#F4F4F4" fill-rule="evenodd" transform="translate(8.500000, 9.065085) rotate(-270.000000) translate(-8.500000, -9.065085) " points="-3.60600438e-13 5 17 5 8.5 13.1301693"></polygon></svg>');
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  &:hover {
    cursor: pointer;
  }
}
.right-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  background: url('data:image/svg+xml;utf8,<svg width="40px" height="40px" viewBox="4 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="Path-2" stroke="none" fill="#F4F4F4" fill-rule="evenodd" transform="translate(8.500000, 9.065085) rotate(-90.000000) translate(-8.500000, -9.065085) " points="-3.60600438e-13 5 17 5 8.5 13.1301693"></polygon></svg>');
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  &:hover {
    cursor: pointer;
  }
}
.circles {
  display: flex;
  justify-content: center;
}
.circle {
  background: url('data:image/svg+xml;utf8,<svg width="15px" height="15px" viewBox="3 3 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle id="Oval-2" stroke="#F4F4F4" stroke-width="3" fill="none" cx="15.5" cy="15.5" r="10.5"></circle></svg>');
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  &:hover {
    cursor: pointer;
  }
}
.circle.active {
  background: url('data:image/svg+xml;utf8,<svg width="15px" height="15px" viewBox="3 3 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle id="Oval-2" stroke="#F4F4F4" stroke-width="3" fill="#f4f4f4" cx="15.5" cy="15.5" r="10.5"></circle></svg>');
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  &:hover {
    cursor: pointer;
  }
}
