//colors
$dark: #191919;
$light: #F4F4F4;
$light-grey: #F4F4F4;
$md-grey: #9B9B9B;
$dark-grey: #5C5C5C;
$color-pop: #2A7F62;

//Media Queries
$mobile: '(max-width: 500px)';
$tablet: '(max-width: 760px)';
