//colors
$dark: #191919;
$light: #F4F4F4;
$light-grey: #F4F4F4;
$md-grey: #C8C8C8;
$dark-grey: #5C5C5C;
$color-pop: #CE4257;

//fonts
$header-font: 'Josefin Sans', sans-serif;
$body-font: sans-serif;

//Media Queries
$mobile: '(max-width: 500px)';
$tablet: '(max-width: 760px)';
